* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
}

.top-side {
  margin: auto;
  width: 1220px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
header .img-logo {
  background-image: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav p {
  color: #B8BECD;
  font: 400 16px Inter;
  letter-spacing: 0.01em;
}
header nav p:hover {
  color: #202336;
  font: 500 16px Inter;
  letter-spacing: 0;
}
header nav .btn1 {
  border-radius: 8px;
  border: 1px solid #FB8F1D;
  text-align: center;
  color: #FB8F1D;
  font: 500 15px Inter;
  padding: 10px 46px;
}
header nav .btn1:hover {
  position: relative;
  top: 1px;
  background-color: #ffedda;
}
header nav .btn2 {
  border-radius: 8px;
  background: #FB8F1D;
  color: #FFF;
  font: 500 15px Inter;
  text-align: center;
  padding: 10px 46px;
}
header nav .btn2:hover {
  position: relative;
  top: 1px;
  background-color: #ee8c23;
}

.preview {
  margin-top: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}
.preview .info h1 {
  color: #202336;
  font: 700 64px Playfair Display;
  width: 356px;
}
.preview .info p {
  color: #202336;
  font: 600 22px Inter;
  margin-top: 74px;
  margin-bottom: 71px;
}
.preview .info .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #4A4C53;
  font: 400 15px Inter;
  gap: 30px;
}
.preview .info .inputs input {
  width: 210px;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  padding: 15px;
}
.preview .btn {
  border-radius: 8px;
  background: #FB8F1D;
  text-align: center;
  padding: 13px 58px;
  width: 180px;
  color: #FFF;
  font: 700 17px Inter;
  margin-top: 50px;
}
.preview .btn:hover {
  position: relative;
  top: 1px;
  background-color: #ee8c23;
}
.preview .img-travel {
  background-image: url(./assets/thousand-01\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 506px;
  height: 483px;
}

.more-info {
  margin-top: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.more-info .img-travel-2 {
  background-image: url(./assets/Thousand-02\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 645px;
  height: 524px;
}
.more-info .right {
  width: 450px;
}
.more-info .right h3 {
  color: #000;
  font: 700 36px Playfair Display;
}
.more-info .right p {
  color: #7D7987;
  font: 300 17px Inter;
  line-height: 30px;
  margin-top: 25px;
}
.more-info .right .btn {
  border-radius: 8px;
  background: #FB8F1D;
  text-align: center;
  padding: 13px 38px;
  width: 164px;
  color: #FFF;
  font: 600 16px Inter;
  margin-top: 39px;
}
.more-info .right .btn:hover {
  position: relative;
  top: 1px;
  background-color: #ee8c23;
}

footer {
  background: #F9F9FB;
  height: 408px;
  margin-top: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer p {
  color: #848484;
  font: 300 18px Inter;
  line-height: 28px;
}
footer .img-logo {
  background-image: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin-top: 87px;
}
footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .left .plan-info {
  width: 265px;
  margin-top: 22px;
}
footer .left .trade-mark {
  margin-top: 45px;
}
footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 720px;
  margin-top: 87px;
}
footer .right h4 {
  color: #000;
  font: 700 19px Inter;
}
footer .right p {
  line-height: 38px;
}
footer .right p:hover {
  color: #000;
}